
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
Secure
packages
.vs
.svn
*.obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Local.testsettings
Performance.psess
