<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MailSender.lib.Properties.Settings.MailSender_dbConnectionString"
             connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MailSender.db;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
