* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 63px;
    padding-bottom: 19px;
}

.logo {
}

.header {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-right: 69px;
}

.menu__ref {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.4px;
    padding: 13px 10px;
}

.slider__circle {
    width: 30px;
    height: 30px;
    background-color: #c7c7c7;
    display: block;
    border-radius: 50%;
    margin: 5px;
}

.menu__ref_active {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.slider-text__h4 {
    color: #43a047;
}

.slider-text__h2 {
    color: #212121;
}

.slider-text__p {
    width: 458px;
    margin-top: 20px;
    margin-bottom: 32px;
}

.button {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    padding: 11px 31px;
    display: inline-block;
    
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3.6px;
}

.slider-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__circle_active {
    width: 40px;
    height: 40px;
    background-color: #212121;
}

.feature-goods {
    height: 609px;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.fg-header {
    display: flex;
    justify-content: space-between;
}

.fg-panel-first {
    border: 1px solid #9c9c9c;
    background-image: url(img/fg-product-1.jpg);
}



.fg-panel {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.fg-menu__ref {
    color: #6c6c6c;
    padding: 0px 20px 19px 9px;
    border-bottom: 1px solid #6c6c6c;
}

.fg-menu__ref:hover {
    color: #212121;
}

.fg-menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.fg-menu__ref-active {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.all-ref {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3.6px;
    padding-top: 13px;
}

.fg-panel-first__p {
    width: 206px;
    text-align: center;
}

.fg-panel-first__h4 {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    padding-top: 19px;
    padding-bottom: 19px;
}

.button-empty {
    padding: 11px 18px;
}

.text-p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.good-img {
    width: 270px;
    height: 270px;
}

.exclusive {
    height: 683px;
    display: flex;
    justify-content: space-between;
}

.promo1 {
    background-image: url(img/promo-img1.jpg);
}

.promo2 {
    background-image: url(img/promo-img2.jpg);
}

.exclusive-block {
    width: 683px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 52px;
}

.trend-goods {
    height: 1108px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 120px;
    padding-bottom: 120px;
}

.tr-goods-panel {
    height: 770px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: space-between;
}

.trend-good {
    width: 370px;
    height: 370px;
}

.tg-header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.tg-header__h3 {
    color: #212121;
}

.menu__ref:hover {
    color: #212121;
    border-bottom: 1px solid #212121; 
}

.button:hover {
    background-color: #c7c7c7;
}

.button:active {
    background-color: #ffffff;
}

.exclusive__h4 {
    color: #1e88e5;
}

.exclusive__h3 {
    color: #212121;
}

.exclusive__p {
    width: 384px;
    margin-top: 20px;
    margin-bottom: 32px;
}

.fg-text {
    background-color: #ffffff;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.slader2 {
    background-image: url(img/slider-2.jpg);
}

.slider1 {
    background-image: url(img/slider.jpg);
}

.text-h4 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.8px;
}

.text-h2 {
    font-size: 62px;
    font-weight: 100;
    letter-spacing: -3px;
}

.text-h3 {
    font-size: 36px;
    font-weight: 700;
}

.slider2__h4 {
    color: #e53935;
}

.all-ref:hover {
    border-bottom: 2px solid #212121;
}



.good:hover {
    opacity: 0.7;
}

.slider__circle:hover {
    background-color: #212121;
}


