
@{
	ViewData["Title"] = "Заказ оформлен";
}

<h2>Заказ оформлен</h2>

<p>Заказ @ViewBag.OrderId оформлен и в скоро будет обработан</p>

<a asp-area="" asp-controller="Home" asp-action="Index">Назад</a>
