@model WebStore.Models.Employee
@{
	ViewData["Title"] = $"Редактирование сотрудника {(Model.Id > 0 ? Model.Id.ToString() : "")}";
}

<h2>@ViewData["Title"]</h2>
<h4>Сотрудник</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post" asp-controller="Employes" asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			@*@Html.ValidationSummary(false, "Ошибка!", new { @class = "text-danger" })*@

			<input asp-for="Id" type="hidden" />

			<div class="form-group">
				<label asp-for="SurName" class="control-label"></label>
				<input asp-for="SurName" class="form-control" />
				<span asp-validation-for="SurName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Patronymic" class="control-label"></label>
				<input asp-for="Patronymic" class="form-control" />
				<span asp-validation-for="Patronymic" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Age" class="control-label"></label>
				<input asp-for="Age" class="form-control" />
				<span asp-validation-for="Age" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StartWork" class="control-label"></label>
				<input asp-for="StartWork" class="form-control" />
				<span asp-validation-for="StartWork" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Сохранить" class="btn btn-default" />
			</div>

		</form>
	</div>
</div>
<hr />
<div>
	<a asp-controller="Employes" asp-action="Index">Назад к списку сотрудников</a>
</div>

@section Scripts {
	@await Html.PartialAsync("_ValidationScripsPartial")
 }
