<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" charset="UTF-8" >
	<title>Главная страница приложения</title>
</head>
<body>
	<h3>Главная страница приложения</h3>
	<hr />
	<a asp-controller="Employes" asp-action="Index">Управление сотрудниками</a>
</body>
</html>
