@model IEnumerable<WebStore.ViewModels.SectionViewModel>

<h2>Категории</h2>

<div class="panel-group category-products" id="accordian">
    <!--category-productsr-->
    @foreach (var parent in Model)
	{
		if (parent.ChildSections.Count > 0)
		{
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#@parent.Id" href="#@parent.Id">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            @parent.Name
                        </a>
                    </h4>
                </div>
                <div id="@parent.Id" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            @foreach (var child in parent.ChildSections)
							{
                                <li><a href="#">@child.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#">
                            @parent.Name
                        </a>
                    </h4>
                </div>
            </div>
        }
    }
</div><!--/category-products-->
